{% extends 'base.html' %}
{% block content %}
<h2>Your groups</h2>
<ul>
{% for group in object_list %}
<li>
	<a href="{% url 'group-detail' slug=group.slug %}">{{ group.name }}</a>
	(Memberships/Invites: {{ group.members.count }}/{{ group.invitation_set.count }})<br>
	Members:
	<ul>
		{% for profile in group.members.all %}
		<li>{{ profile.user.username }}{% if profile.membership.admin %}(admin){% endif %}</li>
		{% endfor %}
	</ul>
	Invites:
	<ul>
		{% for invite in group.invitation_set.all %}
		<li>{{ invite.to_name }} ({{invite.to_email}})</li>
		{% endfor %}
	</ul>
</li>
{% endfor %}
</ul>
{% endblock content %}
