{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block content %}
<h2>Your info for group {{ membership.giftgroup.name }}</h2>

<p>Your wishlist: 
<div class="wishlist">
{{ membership.wishlist|markdown }}
</div>
<a class="button" href="{% url 'update-membership' slug=membership.giftgroup.slug %}">Update</a><br>

Partner: {{ membership.partner }}<br>
</p>
{% if membership.recipient %}
<b>DON'T FORGET TO:</b> <a class="button" href="{% url 'send-update-email'  to_profile_id=santa_membership.profile.id from_member_id=membership.id %}">Send updated wishlist to Santa</a>
<hr>
	<p>Your recipient: {{ membership.recipient.user.username }}</p>
	<p>Your recipient's wishlist: <div class="wishlist">{{ recipient_membership.wishlist|markdown }}</div></p>
	<a class="button" href="{% url 'send-anon-email' to_profile_id=membership.recipient.id %}">Email {{ membership.recipient.user.username }}</a>
	All emails are anonymous - careful not to give away your identity to your gift recipient.
	{% if recipient_partner_profile %}
	<a class="button" href="{% url 'send-anon-email' to_profile_id=recipient_partner_profile.id %}">Email {{ membership.recipient.user.username }}'s partner</a>
	{% endif %}
	{% if recipient_partner_santa_profile %}
	<a class="button" href="{% url 'send-anon-email' to_profile_id=recipient_partner_santa_profile.id %}">Email {{ membership.recipient.user.username }}'s partner's Santa</a> (useful e.g. if they want a joint present)
	{% endif %}
	{% if recipient_partner_profile or recipient_partner_santa_profile %}
	But emails to other people might not be very useful unless you tell them who it's from, so that they can respond.
	{% endif %}
{% else %}
	<p>
	Prefer: <ul>{% for prefer in membership.prefer.all %}<li>{{ prefer }}</li>{% endfor %}</ul>
	Avoid: <ul>{% for avoid in membership.avoid.all %}<li>{{ avoid }}</li>{% endfor %}</ul>
	Avoid partner? {% if membership.avoid_partner %}Yes{% else %}No{% endif %}
	</p>
{% endif %}
{% endblock content %}
