{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
	{% if user.profile.partner %}
	<p>Your partner: {{ user.profile.partner }}</p>
	{% endif %}
	<h2>Your Groups</h2>
	{% if membership_list %}
	<p>Click on a group name to see your details for that group, including your wishlist and gift recipient if one has been assigned.
	Note that recipients can't be assigned until everyone invited to the group has joined.</p>

		<ul>
			{% for membership in membership_list %}
			<li>
				<a href="{% url 'membership-detail' slug=membership.giftgroup.slug %}">{{ membership.giftgroup.name }}</a>
				{% if membership.admin %}(admin)
				{% if membership.num_invites != 1 and membership.num_invites == membership.num_members %}
				<a class="button" href="{% url 'assign' slug=membership.giftgroup.slug %}">Assign pairs</a>
				{% endif %}<br>
				{% endif %}
				Members ({{ membership.num_members }}):
				<ul>
				{% for profile in membership.giftgroup.members.all %}
					<li>{{ profile }}</li>
				{% endfor %}
				</ul>
				Invited ({{ membership.num_invites }}):
				<ul>
					{% if membership.giftgroup.invitation_set.all %}
						{% for invite in membership.giftgroup.invitation_set.all %}
							<li>{{ invite.to_name }} ({{ invite.to_email }})</li>
						{% endfor %}
					{% else %}
						Nobody!!
						{% if membership.admin %}
							<a href="{% url 'invite' slug=membership.giftgroup.slug %}">Invite people</a>
						{% endif %}
					{% endif %}
						{% if membership.admin %}
						<a href="{% url 'invite' slug=membership.giftgroup.slug %}">Invite more</a>
						{% endif %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	{% else %}
	<p>You have no groups!</p>
	<a href="{% url 'create-group' %}">Create New Group</a>
	{% endif %}
{% else %}
	<h2>Hello stranger, welcome to ChrAppy.</h2>
{% endif %}
{% endblock content %}
