{% extends 'base.html' %}

{% block content %}
<h2>Your info for group {{ membership.giftgroup.name }}</h2>

<p>Your wishlist: {{ membership.wishlist }} <a href="{% url 'update-membership' slug=membership.giftgroup.slug %}">Update</a><br>

Partner: {{ membership.partner }}<br>
</p>
{% if membership.recipient %}
	DON'T FORGET TO: <a href="{% url 'send-update-email'  to_profile_id=santa_membership.profile.id from_member_id=membership.id %}">Send updated wishlist to Santa</a>
<hr>
	<p>Your recipient: {{ membership.recipient.user.username }}</p>
	<p>Your recipient's wishlist: {{ recipient_membership.wishlist }}</p>
	<a href="{% url 'send-anon-email' to_profile_id=membership.recipient.id %}">Email {{ membership.recipient.user.username }}</a>
	{% if recipient_partner_profile %}
	<a href="{% url 'send-anon-email' to_profile_id=recipient_partner_profile.id %}">Email {{ membership.recipient.user.username }}'s partner</a>
	{% endif %}
	{% if recipient_partner_santa_profile %}
	<a href="{% url 'send-anon-email' to_profile_id=recipient_partner_santa_profile.id %}">Email {{ membership.recipient.user.username }}'s partner's Santa</a> (useful e.g. if they want a joint present)
	{% endif %}
{% else %}
	<p>
	Prefer: <ul>{% for prefer in membership.prefer.all %}<li>{{ prefer }}</li>{% endfor %}</ul>
	Avoid: <ul>{% for avoid in membership.avoid.all %}<li>{{ avoid }}</li>{% endfor %}</ul>
	Avoid partner? {% if membership.avoid_partner %}Yes{% else %}No{% endif %}
	</p>
{% endif %}
{% endblock content %}
