{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}
		{% if is_admin %}
		<a href="{% url 'assign' %}">Assign pairs</a>
		{% endif %}
	<h2>User: {{ username }}</h2>
	<p>My wishlist: {{ wishlist }}</p>
	<a href="{% url 'update-profile' %}">Update</a>
	<a href="{% url 'send-update-email' %}">Send to Santa</a>
	<hr>
	{% if recipient %}
		<p>Recipient: {{ recipient }}</p>
		<p>Recipient's wishlist: {{ recipient_wishlist }}</p>
		<a href="{% url 'send-anon-email' %}" title="Send an anonymous email">Email {{ recipient_username }}</a>
		{% if recipient_partner %}
		<p>Recipient's partner: {{ recipient_partner_username }}</p>
		<p>{{ recipient_partner }}'s Santa: {{ recipient_partner_santa.user.username }}</p>
		{% endif %}

	{% else %}
		<ul>Prefer: {% for pref in prefers %}<li>{{ pref }}</li>{% endfor %}</ul>
		<ul>Avoid: {% for avoid in avoids %}<li>{{ avoid }}</li>{% endfor %}</ul>
	{% endif %}
{% else %}
	<h2>Hello stranger, welcome to ChrApp.</h2>
{% endif %}
{% endblock content %}
