{% extends 'base.html' %}

{% block title %}
Invite friends
{% endblock title %}

{% block content %}
Enter your friend's name and email:
<form method="post" action=".">
	{% csrf_token %}
	{% for form in formset %}
	<p>{{ forloop.counter}}. {{ form }}</p>
	{% endfor %}
	{{ formset.management_form }}
	<input type="submit" value="Send Invites" />
</form>
<p>You can only invite 5 at a time at the moment, but don't worry - you can come back to this page and invite more people!<p>
{% endblock content %}
